.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 85%;
  padding-top: 10vh;
  margin: auto;
  background-image: url("../../images/background.png");
  /* background-color: burlywood; */
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
