.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 85vh;
}

.form button {
  position: fixed;
  right: 15vw;
  bottom: 7vh;
  height: 6vh;
  width: 10vw;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: transparent
    linear-gradient(270deg, #a2d2ff 0%, #cdb4db 100%, #516980 100%) 0% 0%
    no-repeat padding-box;
}
.form .fpbtn {
  bottom: 0;
  right: 0;
  position: relative;
  display: block;
  width: 6vw;
  height: 4.6vh;
  background: none;
  padding: 4px;
  background-color: rgb(184, 179, 179);
  font-size: 12px;
  display: block;
  align-self: flex-start;
  margin: 2px;
  margin-top: 20px;
}
.form button:hover {
  box-shadow: black 1px 1px 6px;
}
.element {
  margin: 3.7vh 1vh;
  height: 7vh;
  width: 19vw;
}
.element label {
  display: block;
  font-family: Roboto;
  font-size: 17px;
  margin-bottom: 7px;
}
.element input {
  border: none;
  width: 100%;
  height: 3.3vh;
  padding: 8px;
}
.element span {
  color: red;
}
.form a {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .form button {
    width: 50vw;
    height: 4.6vh;
    right: 25vw;
    bottom: 8vh;
  }
  .element {
    margin: 2vh;
    height: 10vh;
    width: 60vw;
  }
  .element input {
    height: 3vh;
    width: 55vw;
    border: black 1px solid;
    margin: 1vw;
  }
  .form .fpbtn {
    width: 18vw;
  }
}
